<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
<connectionStrings><add name="OSSEntities" connectionString="metadata=res://*/MyossUpgradeEntity.csdl|res://*/MyossUpgradeEntity.ssdl|res://*/MyossUpgradeEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.200.75.58;initial catalog=OSSTest;persist security info=True;user id=skmsprod;password=-*QJ(,uk9*d7m?F;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings></configuration>
